*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family:"Poppins" ,sans-serif;
    width: 100%;
    height: 100vh;
    padding: 1%;
}

header
{
    height: 5em;
}

.site_logo
{
    height: 100%;
    display: flex;
    align-items: center;
}
.site_logo p
{
    font-size: 20px;
    padding-left: 10px;
    font-family: "apple chancery";

}

img{
    max-width: 100%;
    object-fit: cover;
    height: 100%;
}

section.page_inner
{
    height:70%;
    width: 60%;
    margin: 0 auto;
    display: flex;
    margin-top: 3%;
}

div.page_inner_left
{
    width: 50%;
    height: 100%;

}

div.page_inner_right
{
    width: 50%;
    height: 100%;
    background-color:rgb(241, 172, 146);
    color: white;
    padding: 1%;
    font-size: 20px;
}

div.page_inner_right p
{
    padding-top: 2%;
    color: rgb(100, 98, 98);
    font-size: 13px;
    text-align: center;
}

div.page_inner_left
{
    background: url('https://images.unsplash.com/photo-1540800458874-73e6a5eed8ac?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjZ8fGxvZ2lufGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=900&q=60');
    background-repeat: no-repeat, repeat;

}
div.form_page
{
    
    margin: 0 auto;
    margin-top: 10%;
    height: 80%;
    width: 70%;
 
}

form
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    margin: 0 auto;
}

section.form,section.checkbox
{
    
    display: flex;
    height: 12%;
    width: 100%;
    align-items: center;
    border-radius: 5px ;
    padding-left:2% ;
}

h3
{
    padding-top: 2%;
    text-align: center;
    color: rgb(243, 92, 36) ;
}

section.form{
    border: 0.5px solid rgb(100, 98, 98) ;
}

section.form input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background: unset;
    font-size: 16px;
    color: white;
    padding: 0 10px ;
}

section i{
    color:white;
    font-size: 25px;
}

section span{
    font-size: 10px;
    padding-left: 5px;
    color: rgba(66, 101, 121, 0.911);
}

section.checkbox input{
    width: 10%;
}

button
{
    height: 10%;
    color: white;
    background-color:rgb(243, 92, 36)  ;
    border: none;
    border-radius: 5px;
    font-weight: bolder;
}

a{
    color:rgb(243, 92, 36) ;
}