*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --body-color:rgb(43, 42, 42);
    --nav-color:rgb(32, 32, 32);
    --nav-primary-color:white;
    --primary-color:black;
    --hover-color: rgb(95, 94, 94);
    --value-opacity : 1;
    --value-primary-height : 100vh ;
    --value-primary-wight : 13em;
    --value-wight-submenu : 100%;
}

body{
    background-color: var(--body-color);
    color:var(--nav-primary-color);
    font-family:"Poppins" ,sans-serif;
}

nav
{
    background-color: var(--nav-color);
    height: var(--value-primary-height);
    width: var(--value-primary-wight);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    top:0;
    transition: 0.5s;
}

header
{
    padding: 4px;
    height: 7.5em;
}

.menu_icon i{
    padding-left: 5px;
}

.menu_body
{
    height: 36em;
    border-top: 0.5px solid gray;
    border-bottom: 0.5px solid gray;
}

ul.menu_body{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 4px;
}
ul.menu_body li{
    align-items: center;
    height: 40px;
    border-radius: 5px;
    padding:0.5em;

}
ul.menu_body li a{
    display: flex;
    text-decoration: none;
    align-items: center;
    color:var(--nav-primary-color);
}

ul.menu_body li i{
    min-width: 40px;
}

ul.menu_body li span
{
    font-size:1em ;
    opacity: var(--value-opacity);
    transform: translateY(10%);
}

i{
    font-size: 20px; 
}

.menu_footer
{
    height: 6.5em;
}

ul.menu_footer{
    list-style-type: none;
    padding-left: 4px;
}

ul.menu_footer li{
    display: flex;
    align-items: center;
    height: 40px;
    border-radius: 5px;
    padding: 0.5em;;
    margin-top: 0.5em;
}
ul.menu_footer li a{
    display: flex;
    text-decoration: none;
    align-items: center;
    color:var(--nav-primary-color);
}
ul.menu_footer li i{
    min-width: 40px;
}

.text-mode{
    opacity: var(--value-opacity);
    transform: translateY(10%);
    min-width:90px;
}

ul.menu_body li:hover{
    background-color: var(--hover-color);
    opacity: 1;
}

ul.menu_footer li:hover{
    background-color: var(--hover-color);
}

header form
{
    margin-top: 4px;
    display: flex;
    overflow: hidden;
    background-color: rgb(243, 240, 240);
    align-items: center;
    height: 50px;
    border-radius: 5px ;
    padding: 5px;
}

.menu_search
{
    margin-top: 20px;
    width: 100%;
}

form i
{
    min-width: 40px;
    color: rgb(82, 82, 82);
    padding-left: 0.2em;
}

form input
{
    border: none;
    outline: none;
    width: 70%;
    background-color: rgb(243, 240, 240);
}

.toggle-switch
{
    position: relative;
    height: 22px;
    min-width: 50px;
    background-color: rgb(173, 173, 173);
    border-radius: 15px;
    opacity: var(--value-opacity);
    cursor: pointer;
    transition: 0.2s;
}

.switch
{
    height: 16px;
    min-width:16px;
    position:absolute;
    top:14%;
    left:5%;
    background-color:rgb(255, 255, 255);
    border-radius: 8px;
    transition: all 0.2s ease;
    left: 31px;
}
body.dark
{
    --body-color: rgb(241, 172, 146);
    --nav-color: rgb(241, 172, 146);
    --nav-primary-color: white;
    --hover-color: rgb(247, 206, 192);
}
body.dark .switch
{
    left:2px;
}

nav.menu_sidebar
{
    --value-opacity :0;
    --value-primary-height :100vh;
    --value-primary-wight :2.9em;
   
    --value-wight-submenu:10em;
}

ul.menu_body li:hover .text_opacity, ul.menu_footer li:hover .text_opacity
{
    opacity: 1;
    background-color: var(--hover-color);
}
.menu_home,.menu_like,.menu_cours,.menu_history,.menu_user,.menu_logout,.menu_notif
{
    width: var(--value-wight-submenu);
    transition: all 0.2s ease;

}
.menu_mode
{
    width: 12.5em;
    transition: all 0.2s ease;
}

.homepage_contenu
{
    height: 100vh;
    width: auto;
    margin-top: 0.5em;
    margin-right: 0.5em;
    margin-left: 2.9em;
    background-color: white;
    border-radius: 25px;
    padding: 0 3%;
    overflow: none;
    color:var(--primary-color);
}

.homepage_sub_sidebar
{
    height:8em;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content:space-between;
}
div.homepage_logo
{
    height: 100%;
    width: 17em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
div.image_logo
{
    height: 80%;

}
img.image_logo{
    max-width: 100%;
    height:100%;
    object-fit: cover;
}


.homepage_sub_sidebar p.titre{
 
    font-weight: bolder;
    font-size: 30px;
    font-family: "Apple Chancery";
}

.homepage_sub_sidebar .user
{
    display: flex;
    align-items: center;
}

.user_avatar
{
    height: 50px;
    width: 50px;
    border-radius: 25px;
    background-color: var(--body-color);
}
img.image_avatar{
    max-width: 100%;
    border-radius: 25px;
    object-fit: cover;
}
ul.grid_card{
    display: flex;
    flex-direction: column;
    list-style-type: none;
}
ul.grid_card li{
    padding-top: 10px;
}
p.title_homepage_card
{
    font-weight: bolder;
    font-size: 20px;
    color: var(--body-color);
}
ul.list_lesson
{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
ul.list_lesson li.lesson
{
    height: 15em;
    width: 20em;
    border: none;
    border-radius: 15px;
    background-color: rgb(183, 220, 252);
    padding: 20px;
    display: flex;
    flex-direction: column;
    transition: 0.5s;
}
ul.list_lesson li.lesson:hover{
    height: 20em;
    width: 25em;
}
.header_card
{
    height: 5%;
}
ul.header_card
{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul.header_option
{
    border: none;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: space-between;
    background-color: var(--body-color);
    color: var(--nav-primary-color);
    opacity:0;
    border-radius: 5px;
}
ul.header_card li.icon{
    display: flex;
}
.name_lesson{
    text-align: center;
    font-weight: bolder;
    font-size: 20px;
}
.prof{
    font-size: 14px;
    text-align: center;
    color: var(--body-color)
}
span.fixed{
    text-decoration: underline;
    font-weight: bolder;
}

.title_lesson
{
    height: 15%;
    transition:0.5s;
    margin-top:20% ;
}
.image_lesson
{
    width: 100%;
    height: 35%;
    display: none;
}

img.image_lesson{
    max-width: 100%;
    height:100%;
    object-fit: cover;
}
div.descrip_lesson
{
    width: 17.5em;
    height: 45%;
    overflow: hidden;
    transition: 0.5s;
    display: none;
}

li.descrip_lesson{
    margin-top: 10px;
}

li.icon:hover ul.header_option
{
    opacity: 1;
    left:58%;
}

ul.list_lesson li.lesson:hover .title_lesson
{
    margin: unset;
}
ul.list_lesson li.lesson:hover div.descrip_lesson
{
    transform: translate(15%,20%);

}
ul.list_lesson li.lesson:hover ul.header_option
{
    margin-left: 5px;
}
ul.list_lesson li.lesson:hover .image_lesson, ul.list_lesson li.lesson:hover .descrip_lesson
{
    display: block;
}
ul.list_lesson li.lesson:hover
{
    justify-content: space-between;
}
.image_lesson
{
    width: 100%;
    height: 30%;
    border: 1px solid orangered;
}
div.descrip_lesson
{
    width: 17.5em;
    height: 45%;
    overflow: hidden;
    transition: 0.5s;
}
ul.descrip_lesson
{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
