*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body
{
    position: absolute;
    top:45%;
    left:50%;
    transform: translate(-50%,-50%);
    font-size: 20px;
    font-family:"Poppins" ,sans-serif;
    color: rgb(73, 73, 73);
}

.logo_login
{
   background-color:rgb(240, 145, 111) ;
    height: 150px;
    width: 150px;
    font-family: "apple chancery";
    color: white;
    border-radius: 75px;
    padding-left: 7%;
    margin-left: 50%;
    margin-bottom: 5%;
    transform: translateX(-50%);
}
.logo_login span{
    font-size: 90px;
}
.logo_login p{
    color: rgb(240, 145, 111);
    transform: translateX(-7%);
}
.logo_login .c
{
    font-size: 50px;
    position: absolute;
    top:23%;
    left:50%;
}

.login
{
    border: 1px solid red;
    height:22em;
    width: 25em;
}
.login_inner
{
 
    margin: 0 10%;
  
}
label
{
    display: block;
}
.option_form
{
    display: flex;
    justify-content: space-between;
    font-size: 10px;
    align-items: center;
}
.login_form input , .password_form input
{
    width: 100%;
    height: 40px;
    margin-top: 10px;
    border-radius: 5px;
    font-size:17px;
    color: white;
    padding-left: 5%;
    background-color: rgb(240, 197, 197);
    border: none;
}
.option_form label
{
    display:flex;
    font-size: 10px;
    align-items: center;
    position: relative;
    left:30%;
   
}
#option_form
{
 height: 20px; 
 width: 40px; 
 transform: translateY(-30%);
}
.option_form a 
{
    color:rgb(245, 110, 61);
}
button
{
    width: 100%;
    height: 60px;
    margin-top: 10%;
    background-color: rgb(240, 100, 49);
    border: none;
    outline: none;
    color: white;
    font-size: 17px;
    border-radius:5px;
}
p.create
{
    padding-top:20px ;
    font-size: 12px;
    float: right;
}
p.create a{
    color: rgb(240, 100, 49);
}
form section{
    padding-top: 9%;
}
img{
    max-width: 100%;
    object-fit:cover;
}
.image
{
    height: 5em;
    width: 11.5em;
}
.login_image_right
{
    display: flex;
    position: absolute;
    top:50%;
    left:-93.5%;
}
.login_image_left
{
    display: flex;
    position: absolute;
    top:50%;
    right:-93.5%;

}
.login_footer{
   position: absolute;
   font-size: 12px;
   bottom: -25%;
   left:4em;
   text-align: center;
   text-decoration: underline;
   color: rgb(245, 110, 61) ;
}

/* Mobile: width < 740 */
@media only screen and (max-width:739px){
 
    div.login_image_right, div.login_image_left
    {
        display: none;
    }
    .login_footer
    {
        bottom: unset;
        left: unset;
        bottom: -15%;
    }
    div.login{
        height: unset;
        width: unset;
        margin-top: 5em;
        height: 20em;
        width: 20em;
    }
}

/* Tablet: width >=740px and width < 1024 px */
@media only screen and (min-width:740px) and (max-width:1023px){


    div.login_image_right, div.login_image_left
    {
        display: none;
    }
}

/* PC: width >= 1024px */

@media only screen and (min-width:1024px)
{

}