.qcm_vue{
    background-color: rgb(241, 172, 146);
    border-radius: 25px;
    line-height: 40px;
    padding: 40px;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
}

.homepage_contenu{
    padding-bottom: 17%;
}

h2{
    text-align: center;
    margin-top: 5%;
}

.listeReponses{
    display: flex;
    justify-content: space-between;
}

li{
    list-style-type: none;
    
}

.labelQuestion{
    display: flex;
}

i:hover{
    cursor: pointer;
}

i[class='bx bxs-left-arrow']{
    float: left;
}

i[class='bx bxs-right-arrow']{
    float: right;
}