.qcm_contenu{
    width: 100%;
    height: 100%;
}
.qcm_vue{
    background-color: var(--body-color);
    border-radius: 25px;
    line-height: 40px;
    padding: 40px;
    margin: 0 auto;
    height: 55%;
    width: 70%;
    display: flex;
    flex-direction: column;
    margin-top: 3%;
    justify-content: space-between;
    color: var(--primary-color);
}

/* .homepage_contenu{
    padding-bottom: 17%;
} */

p.titre_lesson
{
    margin-top: 0.5em;
    font-size: 40px;
    color:var(--body-color);
}
.nom_prof
{
    font-size: 20px;
    color: var(--primary-color);
}

.listeReponses{
    display: flex;
    justify-content: space-between;
}

ul{
    list-style-type: none;
}

i:hover{
    cursor: pointer;
}

i[class='bx bxs-left-arrow']{
    float: left;
}

i[class='bx bxs-right-arrow']{
    float: right;
}