.page_contenu
{
    min-height: 98vh;
    height: auto;
    width: auto;
    margin-top: 0.5em;
    margin-right: 0.5em;
    margin-left: 2.9em;
    margin-bottom: 0.5em;
    background-color: white;
    border-radius: 25px;
    padding: 0 3%;
    overflow: hidden;
    /* color:var(--primary-color); */
}

.sub_sidebar
{
    height:7.6em;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content:space-between;
    border-bottom: 2px solid var(--body-color);

}
/* Css logo */
div.logo
{
    height: 100%;
    width: 17em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
div.image_logo
{
    height: 80%;

}
img.image_logo{
    max-width: 100%;
    height:100%;
    object-fit: cover;
}


.sub_sidebar p.titre{
 
    font-weight: bolder;
    font-size: 30px;
    font-family: "Apple Chancery";
    color: black;
}
/* Css user (l'image et le nom d'utilisateur)*/
.sub_sidebar .user a
{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--primary-color);
}

.user_avatar
{
    height: 50px;
    width: 50px;
    border-radius: 25px;
    background-color: var(--body-color);
}
img.image_avatar{
    max-width: 100%;
    height: 100%;
    border-radius: 25px;
    object-fit: cover;
}

p.user_name
{
    color: black;
}