p.titre_lesson
{
    margin-top: 0.5em;
    font-size: 40px;
    color:var(--body-color)
}
.nom_prof
{
    font-size: 20px;
    color: rgb(199, 197, 197);
    
}
/*Css widget chat*/
.window_talk
{
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 5%;
    
    width: 60%;
    height: 60vh;
    background-color: var(--body-color);
   
}
div.enter_message_inner
{
    background-color: rgb(228, 228, 228);
    height:50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding:0 5%;

}

.window_talk input
{
    padding:0 20px;
    height: 35px;
    outline: none;
    border: none;
    border-radius: 15px;
    width: 100%;
    font-size: 15px;
}

ul.window_talk_inner
{
    padding: 1% 0;
    width: 60%;
    height:100%;
    margin: 0 auto;
    list-style-type: none;
    overflow-x: scroll;
    scroll-behavior: smooth;

}
ul.window_talk_inner::-webkit-scrollbar{
    display:none;
}
ul.window_talk_inner
{
    -ms-overflow-style: none;
    width:100%;
    scrollbar-width: none;
}
/*Css l'affichage des messages*/
ul.window_talk_inner li
{
    margin:10px 5%;
    height: auto;
}
div.message{
     -webkit-transform: scaleX(-1);
    transform: scaleX(-1); 
    
}
div.message_paralle , div.message{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    animation: opacity 0.5s 1 linear; 
}

p.auteur_text{
    transform: scaleX(-1);
    font-size: 12px;
    text-align: right;
    
}
p.auteur_text_paralle{
    font-size: 12px;
}
p.message_text{
    transform: scaleX(-1); 
    
} 
p.message_text_paralle, p.message_text{
    margin-left: 1.5%;
    padding: 1% 1%;
    font-size:0.8em;
    background-color: rgb(243, 240, 240);
    color: black;
    height: auto;
    width: auto;
    max-width: 80%;
    word-wrap: break-word;
    border-radius: 5px;
} 
div.message_image
{
    width: 10%;
}
img{
    max-width: 30%;
    height:100%;
    object-fit: cover;
    border-radius: 20px;
}
button
{
    width: 35px;
    height: 35px ;
    border-radius: 20px;
    border: none;
    background-color: rgb(226, 146, 146);
}

 @keyframes opacity {
    from
    {
        opacity:0;
        /* transform: scaleX(-1);
        transform:translateY(20px) ;  */
    }
    to{
        opacity:1;
        /* transform:translateY(0) ; */

    }
    
}  