/*Css de titre de page*/
p.titre_lesson
{
    margin-top: 0.5em;
    font-size: 40px;
    color:var(--body-color)
}
.nom_prof
{
    font-size: 20px;
    color: rgb(199, 197, 197);
    
}
p.titre_forum{
    text-align: center;
    margin-bottom: 3%;
    font-weight: bolder;
    font-size: 17px;
}
div.forum_inner
{
    margin-top: 3%;
    color:rgb(243, 139, 95);
    width: 100%;
    height: auto;

}
/*Css la liste des forums*/
ul.liste_forum
{
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
}

li.item_forum
{
    padding:5% 8% ;

}

/*Css la liste des canaux*/
ul.liste_canal{
    list-style-type: none;
    border: 2px solid var(--body-color);
    width: 100%;
    height: auto;
    display:grid;
    grid-template-columns: 100%;
    border-radius: 10px;
    overflow:none;
}

li.item_canal
{
    margin: 2% 0;
    height: 7vh;
    background-color: rgb(232, 232, 232);
    padding-left: 5%;


}

li.item_canal:hover a
{
    color: white;
}
li.item_canal:hover 
{
    background-color: var(--body-color);

}
li.item_canal>a{
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: var(--body-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2% 0;
}
p.createur_canal
{
    text-align: center;
    color: rgb(229, 119, 119);
    font-style: italic;
    font-size: 12px;
}
li.item_btn_add
{
    padding: 2% 2%;
    display: flex;
    justify-content: space-between;
    /* margin-left :50%;
    transform:translateX(-50%) ; */
}
li.item_btn_add a{
    color: red;
    display: flex;
}
.admin_part
{
    position:absolute;
    top: 20%;
    right: 3%;
    display: flex;
    flex-direction: column;
    color: white;
} 
.admin_part_2
{
    position:absolute;
    top: 30%;
    right: 3%;
    display: flex;
    flex-direction: column;
    color: white;
} 
.btn_add button, .btn_del button{
    color: var(--body-color);
    background-color: white;
    border: none;
    padding-right: 5px;
    display: flex;
    align-items: center;
    float: right;
    margin-top: 5px;

}
.btn_add button a, .btn_del button a{
    color: var(--body-color);
}

.admin_form
{
    padding: 2%;
    border: 1px solid red;
    width: 30em;
    height: 7em;
    background-color: var(--body-color);
}
.admin_form form
{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: 0.5s linear;
}
section
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 20%;
}
section input{
    padding: 0 2%;
    width: 60%;
    height: 60%;
}
section button
{
    color: white;
    background-color:orangered;
    border-radius: 5px ;
    width:70px;
}
.form_width
{
    display: none;
}