h1{
    color:blue;
}

ul.grid_card{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    width: 100%;
}
ul.grid_card li{
    padding:3% 0 ;
    height: 80%;
    align-items: center;

}
p.title_homepage_card
{
    font-weight: bolder;
    font-size: 20px;
    color: var(--body-color);
}
ul.list_lesson
{
    margin-top: 20px;
    margin-left: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-row-gap: 3%;
}
ul.list_lesson li.lesson 
{
    height: 15em;
    width: 20em;
    border: none;
    border-radius: 15px;
    background-color: rgb(53, 67, 80);
    padding: 15px;
    transition: 0.5s;
    list-style-type: none;
    
}
ul.list_lesson li.lesson  a{
    width: 100%;
    height: 100%;
    color:white;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
ul.list_lesson li.lesson:hover{
    height: 16em;
    width:21em;
}
span.date{
    font-size:12px ;
}

img{
    max-width: 100%;
    object-fit: cover;
}
img.image
{
    width: 100%;
    height: 100%;
}
div.image_lesson
{
    width: 100%;
    height: 50%;
}
.titre_lesson
{
    font-size: 14px;
    text-align: center;

}
.name_lesson{
    text-align: center;
    font-weight: bolder;
    font-size: 20px;
}
.prof{
    font-size: 12px;
    padding-top: 5px;
    text-align: center;
    color: var(--body-color)
}
.card_icon
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10%;
    
}
.card_icon i{
    font-size: 17px;
}

.admin_part
{
    position:absolute;
    top: 20%;
    right: 3%;
    display: flex;
    flex-direction: column;
    color: white;
} 
.btn_add a{
    color: var(--body-color);
    background-color: white;
    border: none;
    padding-right: 5px;
    display: flex;
    align-items: center;
    float: right;

}
.admin_form
{
    padding: 2%;
    border: 1px solid red;
    width: 30em;
    height: 15em;
    background-color: var(--body-color);
}
.admin_form form
{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: 0.5s linear;
}
section
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 20%;
}
section input{
    padding: 0 2%;
    width: 60%;
    height: 60%;
}
section button
{
    color: white;
    background-color:orangered;
    border-radius: 5px ;
    width:70px;
}

.footer
{
    height: 5em;
    width: 100%;
}

/* La partie de Resposibility*/

/* Mobile: width < 740 */
@media only screen and (max-width:739px)
{   
  
    ul.list_lesson
    {
        grid-template-columns: unset;
        grid-template-columns: 1fr;
        margin-left: unset;
    }
    ul.list_lesson li.lesson
    {
        margin:0 auto;
        height: 13em;
        width: 18em;
    }
    ul.list_lesson li.lesson:hover{
        height: 14em;
        width:19em;
    }


}

/* Tablet: width >=740px and width < 1024 px */
@media only screen and (min-width:740px) and (max-width:1023px)
{
    ul.list_lesson
    {
        grid-template-columns: 1fr 1fr;
    }
    .admin_part
    {
        top:15%;
    }
}
 


/* PC: width >= 1024px */
@media only screen and (min-width:1024px)
{

}
