.qcm_contenu{
    width: 100%;
    height: 70vh;

}
.qcm_vue{
    background-color: var(--body-color);
    border: 4px dashed rgb(255, 255, 255);
    border-radius: 25px;
    line-height: 40px;
    padding: 20px;
    margin: 0 auto;
    height: 90%;
    width: 60%;
    /* display: flex;
    flex-direction: column; */
    margin-top: 3%;
    /* justify-content: space-between; */
    color: white;
}

p.titre_lesson
{
    margin-top: 0.5em;
    font-size: 40px;
    color:var(--body-color);
}
.nom_prof
{
    font-size: 20px;
    color: var(--primary-color);
}
div.labelQuestion p{
    word-break: break-all;
}
div.propositionReponse
{
    border: 2px solid rgb(255, 255, 255);
    height: 80%;
    width: 100%;
}
form.qcm
{
    padding: 1% 0;
    height:100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
section
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 3%;
    word-break: break-all;
    font-size: 13px;
}

section label{
    width: 92%;
}
i:hover{
    cursor: pointer;
}

i[class='bx bxs-left-arrow']{
    float: left;
}

i[class='bx bxs-right-arrow']{
    float: right;
}
button{
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 0 1%;
    background-color: white;
    border: none;
    height: 2em;
    color: var(--body-color);
    border-radius: 7px;
    margin-bottom: 2%;
}
/* Mobile: width < 740 */
@media only screen and (max-width:739px)
{   
    div.labelQuestion p 
    {
        font-size: 12px;
    }

    section label {
        font-size: 10px;
    }
    div.propositionReponse {

        height: 80%;
    }

    .qcm_vue {

        height: 85%;
  
    }
}

/* Tablet: width >=740px and width < 1024 px */
@media only screen and (min-width:740px) and (max-width:1023px)
{

}

/* PC: width >= 1024px */
@media only screen and (min-width:1024px)
{


}

