/*CSS pour le contenu dans la page USER*/
.userpage_contenu_inner 
{
    margin: 2% 5%;
    height: 60vh;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

ul.user_coordonne{
    list-style-type: none;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 8%;
}

ul.user_coordonne li{
    border: 1px solid rgb(207, 207, 207);
    width: 60%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
}
section
{
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
}

div.coordonne p{
    padding-top: 15px;
    background-color: var(--body-color) ;
    width: 100%;
    height: 40px;
    color: var(--nav-primary-color);
    text-align: center;
    font-weight: bolder;
}

/*CSS la formule qui rempli des coordonnes de l'utilisateur*/
form.coordonne
{
  padding: 2%;
  color:var(--body-color);
  font-weight: bolder;
  height: auto;
}
form.coordonne label
{
    transform: translateY(6px);
}
form.coordonne input
{
    margin-right: 10px;
    height:25px;
    width: 20em;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: rgb(219, 219, 219);
    padding-left: 10px;
}

button.user{

    color: var(--nav-primary-color);
    background-color: rgb(236, 123, 82);
    width: 20%;
    height: 30%;
    margin-top: 5%;
    margin-left: 50%;
    transform: translateX(-50%);
    font-size: 15px;
    font-weight: bolder;
    border-radius: 10px;

}

/* CSS pour les boutons addMatiere/addDocument/addCanal/addForum */
div.coordonne_add{
    width: 60%;
    margin: 0 auto;
    border: 1px red solid;
}
form.coordonne_add
{
  color:var(--body-color);
  font-weight: bolder;
  height: auto;
  width: 100%;
}
form.coordonne_add section
{
    padding: 2%;
}
form.coordonne_add input
{
    margin-right: 10px;
    width: 60%;
    border: none;
    border-radius: 5px;
    background-color: rgb(219, 219, 219);
    padding-left: 10px;
}
button.add{
    width: 20%;
    height:4%;
    margin: 0 auto;
    background-color: rgb(236, 123, 82);
    align-items: center;
    border-radius: 10px;
}
div.coordonne_add p{
    padding-top: 15px;
    background-color: var(--body-color) ;
    width: 100%;
    height: 40px;
    color: var(--nav-primary-color);
    text-align: center;
    font-weight: bolder;
}
/* Mobile: width < 740 */
@media only screen and (max-width:739px){
 
    ul.user_coordonne
    {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: unset;
    }
    form section label
    {
        font-size: 10px;
    }
    form.coordonne section input
    {
       width: unset;
    }
    ul.user_coordonne li
    {
        width: unset;
        height: unset;
        width: 19.5em;
        height: auto;
        margin: 0 auto;
        margin-top: 50px;
    }
    div.userpage_contenu
    {
        width: unset;
        height: unset;
    }
    div.userpage_contenu_inner{
        width:unset ;
        height: unset;
        height: auto;
    }
    button.user 
    {
        font-size: 10px;
        width: 30%;
    } 
    div.image_logo
    {
        height:unset;
        height:60%;
    }
    div.userpage_logo{
        font-size: 15px;
    }
    div.user
    {
        display: none;
    }
}

/* Tablet: width >=740px and width < 1024 px */
@media only screen and (min-width:740px) and (max-width:1023px){

    ul.user_coordonne
    {
        margin-left:5em ;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: unset;
    }
    form section label
    {
        font-size: 20px;
    }
    form.coordonne section input
    {
       width: unset;
    }
    ul.user_coordonne li
    {
        width: unset;
        height: unset;
        width: 30em;
        height: auto;
        margin-top: 50px;
    }
    div.userpage_contenu
    {
        width: unset;
        height: unset;
    }
    div.userpage_contenu_inner{
        width:unset ;
        height: unset;
        height: auto;
    }
    button.user
    {
        left: 10%;
        width: 30% ;
    } 
    div.image_logo
    {
        height:unset;
        height:60%;
    }
    div.userpage_logo{
        font-size: 15px;
    }
}

/* PC: width >= 1024px */
@media only screen and (min-width:1024px)
{

}